<div class="card w-72 p-3 rounded bg-base-200 shadow-xl">
  <header class="flex items-center justify-between">
    <h4 class="text-center">
      {{day?.format('DD MMMM')}}
      <span *ngIf="event" class="opacity-60 text-sm">Редактирование</span>
      <span *ngIf="!event" class="opacity-60 text-sm">Новое</span>
    </h4>
    <button class="btn btn-xs btn-ghost" (click)="close.emit()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </header>

  <span class="divider m-0 mb-2"></span>

  <app-calendar-event-form
    [date]="day"
    [event]="event"

    (create)="create.emit($event)"
    (edit)="edit.emit($event)"
    (delete)="delete.emit($event)">
  </app-calendar-event-form>
</div>
