<div
  *ngIf="day"
  class="day relative"
  [class.is-today]="day.isToday"
  [class.is-weekend]="day.isWeekend"
  [class.is-disabled]="disabled"
>
  <div class="flex flex-col absolute left-0 right-0 top-0 p-1 max-h-full">
    <button
      class="btn btn-xs gap-1 w-full justify-between btn-wide"
      [class.btn-ghost]="!newEventPopup.show"
      [class.btn-accent]="newEventPopup.show"
      [disabled]="disabled"

      #trigger="popupTrigger"
      [appPopup]="newEventPopup"
      [closeOnInsideClick]="false"
      [offset]="[0, 10]"
      placement="right-start"
    >
      <span class="opacity-80">{{day.date.format('D')}}</span>
      <span class="badge badge-sm badge-accent" *ngIf="events.length">{{events.length}}</span>
    </button>

    <app-popup #newEventPopup="popup">
      <app-day-event-popup
        [day]="day.date"
        (close)="trigger.close()"
        (create)="onCreateEvent($event); trigger.close()">
      </app-day-event-popup>
    </app-popup>

    <div class="overflow-hidden h-full overflow-y-scroll">
      <div class="overflow-scroll">
        <button
          *ngFor="let event of events"
          class="event"

          #editTrigger="popupTrigger"
          [appPopup]="editEventPopup"
          [offset]="[0, 10]"
          [closeOnInsideClick]="false"
          [class.accent]="editEventPopup.show"
          placement="right-start"
        >
          {{event.title}}

          <app-popup #editEventPopup="popup">
            <app-day-event-popup
              [day]="day.date"
              [event]="event"
              (close)="editTrigger.close()"
              (edit)="onEditEvent($event); editTrigger.close()">
            </app-day-event-popup>
          </app-popup>
        </button>
      </div>
    </div>
  </div>
</div>
