<app-navbar>
  <div class="flex items-center justify-between w-full py-4">
    <div class="flex items-center gap-2">
      <button class="btn btn-primary btn-sm">Добавить</button>
      <button class="btn btn-primary btn-sm">Обновить</button>
    </div>
    <div class="flex items-center justify-end flex-1">
      <div class="form-control lg:w-1/3">
        <div class="input-group w-full flex">
          <button class="btn btn-primary btn-square btn-sm">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input
            type="text"
            placeholder="Событие, дата или участник"
            class="input input-sm input-bordered flex-1"
          >
        </div>
      </div>
    </div>
  </div>
  <button
    class="btn btn-sm btn-ghost ml-2"
    [appPopup]="popup"
    [offset]="[0, 5]"
  >
    <i class="fa-solid fa-palette"></i>
  </button>

  <app-popup #popup="popup">
    <ul class="menu bg-base-200 shadow-2xl rounded-box">
      <li (click)="setTheme(themes.light)">
        <a [class.active]="theme === themes.light">
          <i class="fa-solid fa-sun"></i>
        </a>
      </li>
      <li (click)="setTheme(themes.dark)">
        <a [class.active]="theme === themes.dark">
          <i class="fa-solid fa-moon"></i>
        </a>
      </li>
    </ul>
  </app-popup>
</app-navbar>
